/*===============
  global styles
===============*/
* {
  scroll-behavior: smooth;
}

/* Overall navigation bar */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.navbar .sidebar .nav {
  display: inline;
}

/* style links inside the navbar */
.sidebar .nav a {
  font-weight: bold;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  padding: 10px;
  text-decoration: none;
  color: rgb(226, 224, 224);
}

.navbar .sidebar .nav a:hover,
a:active {
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 0 5px aquamarine;
  color: white;
}

.navimgs {
  display: flex;
  justify-content: end;
}


/* Sidebar decoration */
.sidebar a {
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

/* icons on the side of navbar  */
/* src: https://codepen.io/ephs23/pen/NeQZGx */
.navimgs {
  list-style: none;
}

.navimgs a {
  width: 32px;
  height: 32px;
  background-color: black;
  text-align: match-parent;
  line-height: 80px;
  font-size: 25px;
  margin: 5px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 2px solid rgb(175, 172, 172);
  z-index: 1;
}

.navimgs a .icon {
  position: fixed;
  color: rgb(99, 99, 99);
  transition: .5s;
  z-index: 3;
}

.navimgs a:hover .icon {
  color: white;
  transform: rotateY(360deg);
}

.navimgs a:before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: .5s;
  z-index: 2;
}

.navimgs a:hover:before {
  top: 0;
}

.navimgs li:nth-child(1) a:before {
  background: black;
}

.navimgs li:nth-child(2) a:before {
  background: #3b5999;
}

.navimgs li:nth-child(3) a:before {
  background: darkcyan;
}

.navimgs li:nth-child(4) a:before {
  background: lightblue;
}




body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: var(--clr-fg);
  background-color: rgb(248, 246, 246);
}


h1,
h2,
h3,
h4 {
  line-height: 1.2;
  color: var(--clr-fg-alt);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}


/* Projects */
.projects {
  margin-top: 3%;
}

.projects__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(100% / 3 - [grid-gap] * 2 / 3));
  grid-gap: 20px;
}


.project {
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: transform 0.2s linear;
}

.project:hover {
  transform: translateY(-7px);
}

.project__description {
  margin-top: 1em;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1.2em 0;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.project .link--icon {
  margin-left: 0.5em;
}